body{
    margin: 0;
    padding: 0;
    background:bisque;
    background-size:cover ;
}
.bg{
    width:50%;
    height: 450px;
    background: #fff;
    margin:0 auto;
    border:2px solid rgb(140, 248, 217);
    box-shadow: 0 15px 40px ;
}
.bg .left{
    float: left;
    width: 50%;
    height: 450px;
    background-size: cover;
    background: url(product-6.png);
    background-size: cover;
    box-sizing: border-box;
}
.bg .right{
    float: right;
    width: 50%;
    height: 400px;
    padding-left: 3%;
    padding-right: 5%;
    box-sizing: border-box;
}
.form1{
   width: 100%;
   padding: 80px 40px;
   box-sizing: border-box;
   height: 400px;
   background: #fff;
}
.form1 p{
    color:rgb(185, 135, 235);
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.form1 input{
    width: 100%;
    margin-bottom:20px ;
}
.form1 input [type="text"],
.form1 input [type="password"]{
    border: none;
    border-bottom: 2px solid paleturquoise;
    outline: none;
    height: 40px;
}
.form1 input [type="text"]:focus,
.form1 input [type="password"]:focus{
    border-bottom: 2px solid green;
}
.form1 input [type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:silver ;
    cursor: pointer;
}
.form1 input [type="password"] :hover{
    background: steelblue;
}